.footer {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 1080px;
  padding: 210px 0 0 182px;
  &-column {
    flex: 1 0;
  }
  .form {
    &-phone {
      border-bottom: 2px solid rgba(51, 51, 51, 0.5);
      caret-color: $black;
      @include placeholder {
        color: $black;
      }
    }
    &-submit {
      color: $black;
    }
  }
}