
// Fonts

$PTSans: 'PT Sans', sans-serif;
$Lato: 'Lato', sans-serif;


// Colors

$white: #FFFFFF;
$white-two: #F3F5F7;

$black: #333333;
$black-light: #4A4A4A;

$grey-dark: #A6A6A6;
$grey-light: #D8D8D8;

$red: #9E0118;
$red-mos: #CD0235;
$pink: #F54E5C;
$coral: #EB6C64;

$blue: #22AFF2;

$green: #38A770;

// Media

$sm: 767px;
$md: 1023px;
$lg: 1366px;
